@model Tarea2.Models.acceso_premier

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro que deseas eliminar este elemento</h3>
<div>
    <hr />
    <!--Para que se vea mejor, los titulos de cada atributo se volveran mayúsculas-->
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.persona.nombre).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.persona.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pelicula).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pelicula.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <!--Boton Eliminar-->
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <!--Enlace para regresar-->
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
