@model Tarea2.Models.acceso_premier

@{
    ViewBag.Title = "Details";
}

<h2>Detalle Acceso Premier</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.persona.nombre).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.persona.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pelicula).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pelicula.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idapremier }) |
    @Html.ActionLink("Regresar", "Index")
</p>
