@model Tarea2.Models.persona

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro que deseas eliminar este elemento</h3>
<div>
    <hr />
    <!--Cada uno de los titulos se haran mayusculas para mejorar el estilo-->
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!--Enlace para regresar-->
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
