@model IEnumerable<Tarea2.Models.persona>

@{
    ViewBag.Title = "Personas";
}

<h2>@ViewBag.Title</h2>

<!--Enlace para crear nueva Persona-->
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<!--Tabla donde se desplegan los datos de la bd-->
<table class="table">
    <tr>
        <!--Headers de tabla-->
        <th>
            @Html.DisplayNameFor(model => model.nombre).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol).ToString().ToUpper()
        </th>
        <th></th>
    </tr>

    <!--Bucle que muestra cada una de las filas dentro de la tabla-->
    @foreach (var item in Model)
    {
        <tr>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.edad)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.rol.nombre)
            </td>
            <td style="vertical-align:middle">
                <!--Botones que se dan acceso a las funciones del crud (Editar, Ver y Eliminar)-->
                @Html.ActionLink("Editar", "Edit", new { id = item.idpersona }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalles", "Details", new { id = item.idpersona }, new { @class = "btn btn-info" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idpersona }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
