@model Tarea2.Models.pelicula

@{
    ViewBag.Title = "Create";
}

<h2>Crear Peliculas</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <!--Label se capitalizara-->
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2 text-capitalize"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <!--Label se capitalizara-->
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2 text-capitalize" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <!--Label se capitalizara-->
            @Html.LabelFor(model => model.duracion, htmlAttributes: new { @class = "control-label col-md-2 text-capitalize" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.duracion, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.duracion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <!--Label se capitalizara-->
            @Html.LabelFor(model => model.clasificacion, htmlAttributes: new { @class = "control-label col-md-2 text-capitalize" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clasificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clasificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <!--Label se capitalizara-->
            @Html.LabelFor(model => model.estudio, htmlAttributes: new { @class = "control-label col-md-2 text-capitalize" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estudio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.estudio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <!--Label se capitalizara-->
            @Html.LabelFor(model => model.director, htmlAttributes: new { @class = "control-label col-md-2 text-capitalize" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.director, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.director, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <!--Label se capitalizara-->
            @Html.LabelFor(model => model.genero, htmlAttributes: new { @class = "control-label col-md-2 text-capitalize" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.genero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.genero, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Boton guardar-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<!--Enlace para regresar-->
<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
