@model Tarea2.Models.pelicula

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro que deseas eliminar este elemento</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracion).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clasificacion).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clasificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estudio).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estudio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.director).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
