@model Tarea2.Models.pelicula

@{
    ViewBag.Title = "Details";
}

<h2>Detalle Pelicula</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracion).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clasificacion).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clasificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estudio).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estudio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.director).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero).ToString().ToUpper()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.nombre }) |
    @Html.ActionLink("Regresar", "Index")
</p>
