@model IEnumerable<Tarea2.Models.pelicula>

@{
    ViewBag.Title = "Peliculas";
}

<h2>@ViewBag.Title</h2>
<!--Enlace para crear nueva pelicula-->
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<!--Tabla donde se desplegan los datos de la bd-->
<table class="table">
    <tr>
        <!--Headers de tabla-->
        <th>
            @Html.DisplayNameFor(model => model.nombre).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clasificacion).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estudio).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.director).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genero).ToString().ToUpper()
        </th>
        <th></th>
    </tr>

    <!--Bucle que muestra cada una de las filas dentro de la tabla-->
@foreach (var item in Model) {
    <tr>
         <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.clasificacion)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.estudio)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.director)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.genero)
        </td>
        <td style="vertical-align:middle">
            <!--Botones que se dan acceso a las funciones del crud (Editar, Ver y Eliminar)-->
            @Html.ActionLink("Editar", "Edit", new { id=item.nombre },  new { @class = "btn btn-primary" })
            @Html.ActionLink("Detalles", "Details", new { id=item.nombre }, new { @class = "btn btn-info" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.nombre }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
