@model IEnumerable<Tarea2.Models.rol>

@{
    ViewBag.Title = "Roles";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado).ToString().ToUpper()
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td style="vertical-align:middle">
            @Html.ActionLink("Editar", "Edit", new { id=item.idrol }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Detalles", "Details", new { id=item.idrol }, new { @class = "btn btn-info" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idrol }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
